*/bin/
*/obj/
*/Debug/
*/Release/
CADView160523.vspx
*.exe
*.tlog
*.ipch
TestProjectCPP/TestProjectCPP.VC.VC.opendb
TestProjectCPP/TestProjectCPP.VC.db
*.idb
Debug/
Release/
CADSystem.VC.VC.opendb
CADSystem.VC.db
